img {
    float: left;
    margin: 10px;
}

.btn {
    background-color: #208075;
}

.container {
    text-align: center;
}

.result {
    text-align: left;
    display:none;
}
h3 {
    text-align: left;
    font-size: 14px;
}
.info {
    padding: 10px 0px 20px 10px;
}
.row:nth-child(even){
    background-color: #208075;
    color: white;

}